@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.container {
    max-width: 1280px;
    margin: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;

}

a {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 20px;
    margin-right: px;
}

.border-box {
    border: 2px solid black;
    border-radius: 8px;
}

.banner {
    display: flex;
    margin-top: 50px;
    gap: 100px;
}

.banner div {
    width: 50%
}

button {
    display: flex;
    color: #ffffff;
    background-color: #191A23;
    padding: 20px 35px 20px 35px;
    border-radius: 8px;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
    margin-right: 10px;

}

.services {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 80px auto;
}

.services .label {

    background: #A4FF58;
    color: #000;
    padding: 12px 24px;
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
    display: inline-block;
    white-space: nowrap;
}

.services p {
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    max-width: 600px;
}

.service-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1200px;
    margin: 60px auto;
}

.row {
    display: flex;
    gap: 20px;
}

.box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background: #f4f4f4;
    border-radius: 12px;
}

.text {
    width: 50%;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}


.image {
    width: 40%;
    height: 210px;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
}

.h1 {
    font-family: "Space Grotesk";
    font-style: medium;
    font-size: 30px;
}



p {
    font-family: "Space Grotesk";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}

.section {
    background: #f0f0f0;
    padding: 40px;
    border-radius: 20px;
    margin: 40px auto;
    width: 80%;
    text-align: left;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.section p {
    font-size: 14px;
    line-height: 1.5;
}

.case-box {
    background: #1a1a1a;
    color: #fff;
    border-radius: 20px;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.case-item {
    width: 33.33%;
    border-left: 1px solid #ffffff;
    padding: 20px;
    padding: 0 50px 0 50px;
}

.case-item:first-child {
    border-left: none;
}

.mobile-menu {
    display: none;
}

.learn-more {
    color: #A4FF58;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    display: inline-block;
}

@media screen and (max-width:1080px) {
    /*.menu {
                display: none;
            }

            .mobile-menu {
                display: block;
            }*/

    .header {
        flex-direction: column;
        align-items: center;
    }

    .quote {
        display: none;
    }


}


@media screen and (max-width:600px) {
    .menu {
        display: none;
    }

    .mobil-menu {
        display: block;
    }

    .header {
        flex-direction: row;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner div {
        width: 80%;
    }
}