.imgbg {
    max-width: 100%;
}

.imgbg img {
    padding-top: 50px;
    width: 100%;
}

.text2 p {
    color: black;
}

.contentbox5 {
    width: 80%;
    padding: 100px;
}


.contenttext5 {
    padding-top: 30px;
    width: calc((100% - 50px) / 4);


}

.contentrow5 {
    display: flex;
}

.content5 {
    width: calc((100% - 150px) / 4);
}

.line-with-dots {
    display: flex;
    align-items: center;
}

.dot {
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%;
}

.line {
    flex: 1;
    height: 1px;
    background: black;
}

.contenttext6 {
    padding: 100px;
}